<div class="row">
    <div class="col-xl-6 d-flex">{{headerDescription}}</div>
    <div class="col-xl-6 d-flex justify-content-end">
        <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)" style="display: none;">

        <a href="javascript:void(0)" (click)="downloadFile();">
            <span class="material-icons">
                get_app
            </span>
        </a>
        <a href="javascript:void(0)" (click)="clearSelection();">
            <span class="material-icons">
                delete
            </span>
        </a>
    </div>
    <div class="col-xl-12">
        <div *ngIf="!selectedFile">
            <img src="../../../assets/dropfileimage.png" alt="img" class="image-border" width="100%" (click)="imageInput.click();" />
        </div>

        <div *ngIf="selectedFile">
            <img [src]="selectedFile.src" class="img-fluid" width="100%" (click)="imageInput.click();" />

            <div *ngIf="selectedFile.pending" class="img-loading-overlay">
                <div class="img-spinning-circle"></div>
            </div>
        </div>
    </div>
</div>