.logo {
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
}

.forgot-margin {
    margin-top: 6rem;
}

.forgot-bg {
    background-color: white;
    padding: 2rem 2rem;
}

/* .mat-drawer-container {
    background: black;
} */

.back-controls {
    position: absolute;
    left: 25px;
    top: 25px;
}

.back-controls * {
    color: white !important;
}

.back-controls .large {
    font-size: 3rem;
}