.add-appointment-modal-body {
    height: 100vh;
    width: 400px;
    overflow-x: hidden;
}

.modal-header {
    background: #394085;
    font-size: 18px;
    color: white;
    border-radius: 0px;
}

.form-title-container {
    padding: 10px 10px;
    background: #D2C5F0;
    color: black;
    display: flex;
    font-weight: 600;
    font-size: 16px;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.custom-search-color {
    color: black !important;
}

.custom-label {
    color: black !important;
    font-weight: 600;
    font-size: 16px;
}

.custom-footer {
    width: inherit;
    background-color: white !important;
    border-top: 1px solid #CDCCCE;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal-close-icon {
    cursor: pointer;
}

.repeat-on-every {
    width: 40px;
    color: black;
    border: 2px solid #b0b0b0;
    border-radius: 3px;
    height: 30px;
    margin: 0px 10px;
    padding: 5px;
}

.repeat-on-every::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.border-bottom-1px {
    margin-bottom: 10px;
}

.small-text {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 10px;
}

.monthly-day-label {
    font-size: 16px !important;
    margin-right: 20px;
    margin-top: 16px;
}

.yearly-day-label {
    font-size: 16px !important;
    margin-right: 65px;
    margin-top: 5px;
}

.monthly-day-control-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.monthly-input {
    height: 55px;
    font-size: 18px;
    width: 100%;
    padding: 10px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #abaab0;
}

.recurrence-every-label {
    white-space: nowrap;
    font-weight: 700;
    flex: 1;
    max-width: 105px;
}

.recurrence-yearly-container {
    display: flex;
    align-items: center;
    width: 100%;
}